server {
    listen       9095;
    #server_name  cannesalair.fr *.cannesalair.fr;

    access_log  /var/log/nginx/cal.access.log;

    root /cannesalair;

    location /media/ {
        # if asset versioning is used
        if ($query_string) {
            expires max;
        }
    }

    location /media/admin/ {
        # if asset versioning is used
        if ($query_string) {
            expires max;
        }
        rewrite ^ /$uri last;
        root /lib/python2.7/site-packages/django/contrib/admin/media;
    }


    location /media/files/ {
        autoindex on;
    }

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_connect_timeout 100;
        proxy_read_timeout 100;
        proxy_pass http://backend:9005/;
        client_max_body_size 10M;
    }

    # Redirection to fix Julien's boulette
    location /forum/t/manifestations-de-lete-dans-le-06/ {
        proxy_pass http://backend:9005/forum/t/manifestations-de-lete-dans-la-region/;
    }
}

